/* .mainb{
    display: flex;
    justify-content: space-evenly !important;
    min-height: 70vh
} */

/* .MuiContainer-root{
    width: 100% !important;
}
@media (max-width: 959.95px){

    .makeStyles-btnContainer {
       width: 100vw;
    }
} */